/* .subscribe-wrapper { */
  /* width: 100% !important; */
  /* display: flex !important; */
  /* align-items: center !important; */
  /* flex-direction: column !important; */
/* } */

/* .wrapper-image { */
  /* position: relative !important; */
  /* display: inline-block !important; */
  /* padding-right: 80px; */
  /* height: 180px; */
/* } */

/* .abs { */
  /* position: absolute !important; */
  /* top: 20px !important; */
  /* left: 80px !important; */
/* } */

/* .mag-title { */
  /* text-align: center; */
  /* z-index: 1; */
  /* margin-bottom: 30px; */

/* } */

.back {
  background: url(img/newslettwr.png) center center / cover no-repeat;
  height: 170px;

}

@media (min-width: 768px) {

  .news-wrapper{
	display: flex;
  }

  .back {
	width: 48%;
	height: unset;
  }

  .bottom-nav a {
	border-right: 1px solid #ccc;
	font-size: 14px;

  }


}

@media (min-width: 992px) {
  .newsletter-wrapper {
	display: flex;
	flex-direction: column;
  }
  
  .news-wrapper {
	height: 100%;
  }

}

.line-height {
  line-height: 12px;
}


